extends /layouts/default

block styles
	link(rel="stylesheet", type="text/css", href="/styles/assignment.css")

block scripts
	script(src="/scripts/require.js", type="text/javascript", data-main="/scripts/assignment")

mixin commit(data)
	a.commit(data-repository=data.repository, data-commit=data.commit)
		| #{data.commit}

mixin boilerplate(context)
	h2 Boilerplate
	p Code has been provided for you. You cannot push to this repository. You may access this code via
	code
		| git clone -o boilerplate #{url({ path: context.repository.url })} #{assignment.key}
		| cd #{assignment.key}
		| cat README.md

mixin submission(context)
	h2 Submissions
	p Submissions can be made by adding the submission endpoint to your repository and then pushing to it.

	if context.key
		p Settings: 
		code
			| git remote add submit #{url({ auth: 'submit:'+context.key.key, path: context.configuration.repository.url })}
			| git push submit master
	else
		p Unfortunately it looks like you're not logged in so you can't do this.

	if context.submissions
		if context.submissions.length > 0
			table.submissions
				thead
					tr
						th Submitter
						th Received
						th Commit
						th
				tbody
					for submission in context.submissions
						tr
							td.submitter
								| #{submission.submitter}
							td.received 
								time(datetime=submission.at) #{submission.at}
							td.commit 
								+commit(submission)
							td.evaluate
								form(method="post",action="/submission/"+submission.id+"/evaluate")
									input.button(type="submit",value="Evaluate")
		else
			p You haven't made any submissions yet. Get on it!

mixin evaluation(context)
	h2 Evaluation

	if !context.settings
		p Evaluations aren't setup for this.
	else
		case context.settings.mode
			when "automatic"
				p The wonders of technology have allowed us to automagically evaluate the performance of your submission. Every time you submit it a new evaluation will automatically take place. 
				
			when "manual"
				p This component is manually evaluated. You'll have to wait until someone has marked it.

			when "children"
				p Evaluation by parts.

		if context.evaluations.length > 0
			table
				thead
					tr
						th Submission
						th Evaluator
						th Given
						th Result
						th
				tbody
					each evaluation in context.evaluations
						tr
							td #{evaluation.submission}
							td #{evaluation.source}
							td 
								time(datetime=evaluation.at) evaluation.at
							td
								span.result(data-score=evaluation.result) #{evaluation.result}
							td
								a.button(href="/evaluation/"+evaluation.id) Details
		else
			p You have no evaluations yet!

			

mixin component(component, context)
	section.component()
		
		header
			a.section-collapse(href="#") Collapse
			h1 #{component.title}
			// a.status #{component.status}
			.due Due 
				time.due(datetime=component.end) #{component.end}
		
		.body
			p #{component.description}

			if context.boilerplate
				+boilerplate(context.boilerplate)

			if context.submission.settings
				+submission(context.submission)

			if context.evaluation
				+evaluation(context.evaluation)

			if component.children
				each subcomponent, id in component.children
					+component(subcomponent, context.children[id])

block content
	.assignment

		.container
			+component(assignment, context)


		block assignment